header 
{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.main-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.pokemon-container 
{
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.pokemon-card 
{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
}

.pokemon-card img 
{
    max-width: 100%;
    height: auto;
}